
@media (min-width: 1201px) {
    .container {width: 1135px;}
}
@media (max-width: 1400px) {
    .sidePanel{display: none;}
}
@media (max-width: 1200px) {
    .container {max-width: 96%;}
    .custom-title{
        width: 320px;
        margin: 40px auto 20px auto;
        p.title_size_16{
            @include circle(142px,-5px);
        }
        p.title_size_36{
            @include under_line (55px,130px);
        }
    }
    .skills{
        margin: 40px auto;
        height: auto;
        width: auto;
        justify-content: center;
        grid-template-columns: repeat(3, minmax(270px,270px));
        grid-template-rows: repeat(3, minmax(270px,270px));
    }
    .myworks{
        margin: 40px auto;
        height: auto;
        width: auto;
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(3, minmax(280px,280px));
        grid-template-rows: repeat(3, minmax(280px,280px));
        // row-gap: 20px;
        grid-template-areas: 
        "ipad ipad  plans"
        "uber pulse plans"
        "mac mac bread";
        .mac {transform: none; }
        .pulse {transform: none; }
        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
    .price {
        margin: 25px auto 25px auto;
        width: auto;
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, 280px);
        grid-template-rows: repeat(3, auto);
        row-gap: 10px;
        column-gap: 30px;
        justify-content: center;
        &__item{
            display: grid;
            width: auto;
            grid-template-columns: repeat(2, minmax(150px / 100px, 150px / 100px));
            grid-template-rows: repeat(3, auto);
            row-gap: 0px;
            // padding-left: 20px;
            .costs, .names{margin-bottom: -2px;}

            grid-template-areas: 
            "names costs"
            "desc desc";
            .name{grid-area: names;}
            .costs{grid-area: costs; width: 114px; text-align: right;}
            .desc{grid-area: desc;}
            p {line-height: 18px;}
            .costs{justify-self: end;}
            .names{
                position: relative;
                &::before{
                left: -18px;
            }
            }
            
        }
    }
    .contacts {
        padding: 46px 0 90px 0;
        &__wrapper {
            grid-template-columns: 585px;
            justify-content: center;
            display: grid;
 
            column-gap: 20px;
            
        }
        &__photo{
            display: none;
        }
    }

}
@media (max-width: 992px) {
    .container {
        // overflow: hidden;
        max-width: 96%;}
 
    .content-about{
        margin-top: 40px;
        column-gap: 20px;
        grid-template-columns: repeat(2,minmax(300px/400px, 300px/400px));
        grid-template-rows: repeat(2,minmax(320px,auto));
        &_img{
            grid-area: imag;
            max-width: 300px;
            height: 100%;
            background: url('../img/my_photo.jpg') no-repeat 30% / contain;
            background-position: top;
        }
    }
    .content-about_text{
        width: 400px;
    }
    .about-text__points{
        row-gap: 0px;
        width: 400px;
        grid-template-columns: repeat(2,minmax(auto, auto));
        grid-template-rows: repeat(3,minmax(116px,auto));

        column-gap: 15px;
        row-gap: 0px;
        grid-template-areas: 
        "iconweb web"
        "appsweb apps"
        "uxnweb ux";
    }
    .icons{
        padding-left: 0px;
        
        &__web{
            grid-area: iconweb;
            @include circle (-15px,0);
            margin-left: 12px;
        }
        &__ux{
            grid-area: uxnweb;
            @include circle (-15px,0);
            margin-left: 12px;
        }
        &__apps{
            grid-area: appsweb;
            @include circle(-18px,0);
            margin-left: 12px;
        }
        &__diplom{
            grid-area: diplom;
            @include circle(-15px,0);
            margin-left: 12px;
        }
    }
    
    .benefit{
        height: auto;
        margin: 0 auto;
        display: grid;
        padding-left: 17%;
        
    }
    .benefit__content{
        width: auto;
        box-sizing: border-box;
        grid-template-columns: repeat(2,300px);
        grid-template-rows: repeat(2, auto);
        column-gap: 80px;
    }
    .benefit-blocks {
        grid-template-columns: repeat(1,240px);
    }
    .benefit-blocks {
        &__icon_title{
            display: grid;
            grid-template-columns: repeat(1, 39px 190px);
        }
    }
    .blocks_under__title{
        .title_size_12{
            max-width: 200px;
       }
    }
    .skills{
        margin: 40px auto;
        height: auto;
        width: auto;
        justify-content: center;
        grid-template-columns: repeat(2, minmax(270px,270px));
        grid-template-rows: repeat(4, minmax(270px,270px));
    }
   
}
@media (max-width: 832px){
    .benefit{
        padding-left: 2%;
    }

  
}
@media (max-width: 768px) {
    .container {
        // overflow: hidden;
        margin: 0 auto;
        max-width: 96%;
    }
 
    .content-about{
        justify-content: center;
        margin-top: 60px;
        column-gap: 20px;
        grid-template-columns: repeat(2,minmax(260px/250px, 260px/250px));
        grid-template-rows: repeat(3,minmax(230px,auto));
        grid-template-areas:
        "imag textblock"
        "imag textblock"
        "points points";
        &_img{
            grid-area: imag;
            width: 260px;
            height: 100%;
            background: url('../img/my_photo.jpg') no-repeat 25% / cover;
        }
        .title_size_36{
            font-size: 24px;
            line-height: 36px;
            @include under_line(35px, 1px);
        }
    }
    .content-about_text{
        width: 250px;
    }
    .about-text__points{
        margin-top: 40px;
        row-gap: 0px;
        width: 250px;
        grid-template-columns: repeat(4,minmax(auto, auto));
        grid-template-rows: repeat(3,minmax(116px,auto));

        column-gap: 15px;
        row-gap: 20px;
        grid-template-areas: 
        "iconweb web appsweb apps"
        "uxnweb ux . .";
    }
    .custom-title{
        margin: -40px auto 20px auto;
    }
    .benefit{
        height: auto;
        margin: 0 auto;
        display: grid;
        padding-left: 7%;
        
    }
    .benefit__content{
        width: auto;
        box-sizing: border-box;
        grid-template-columns: repeat(2,300px);
        grid-template-rows: repeat(2, auto);
        column-gap: 4%;
    }
    .myworks{
        margin: 40px auto;
        height: auto;
        width: auto;
        height: auto;
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(2, minmax(280px,280px));
        grid-template-rows: repeat(2, minmax(280px,280px));
        gap: 10px;
        grid-template-areas: 
        "uber pulse"
        "bread plans"
        "ipad mac";
        .mac {transform: none; }
        .pulse {transform: none; }
        img {
            object-fit: cover;
            height: 280px;
            width: 280px;
        }
    }
    .skills{
        margin: 40px auto 80px auto;
    }
 
}
@media (max-width: 692px) {
    .benefit{
        height: auto;
        margin: 0 auto;
        width: 287.2px;
    }
    .benefit__content{
        width: auto;
        box-sizing: border-box;
        grid-template-columns: repeat(1,300px);
        grid-template-rows: repeat(2, auto);
        row-gap: 30px;
    }
    .benefit-blocks {
        grid-template-columns: repeat(1,240px);
    }
    .benefit-blocks {
        &__icon_title{
            display: grid;
            grid-template-columns: repeat(1, 39px 190px);
        }
    }
    .blocks_under__title{
        .title_size_12{
            max-width: 200px;
       }
    }
    .mobile{ width: 320px;}
    .custom-title{
        margin: 40px auto 20px auto;
    }
    .skills{
        margin: 40px auto -190px auto;
        height: auto;
        width: auto;
        justify-content: center;
        grid-template-columns: repeat(1, minmax(270px,270px));
        grid-template-rows: repeat(8, minmax(270px,270px));
    }
    .price {
        margin: 0 auto;
        width: auto;
        height: auto;
        display: grid;
        grid-template-columns: repeat(1, 280px);
        grid-template-rows: repeat(6, auto);
        row-gap: 10px;
        column-gap: 0px;
        justify-content: center;
        &__item{
            display: grid;
            width: auto;
            grid-template-columns: repeat(2, minmax(150px / 100px, 150px / 100px));
            grid-template-rows: repeat(3, auto);
            row-gap: 0px;
            padding-left: 20px;
            .costs, .names{margin-bottom: -2px;}

            grid-template-areas: 
            "names costs"
            "desc desc";
            .name{grid-area: names;}
            .costs{grid-area: costs; width: 114px; text-align: right;}
            .desc{grid-area: desc;}
            p {line-height: 18px;}
            .costs{justify-self: end;}
            
        }
    }
    .contacts {
        
        padding: 46px 0 90px 0;
        &__wrapper {
            justify-content: center;
            padding: 0px;
            display: grid;
            grid-template-columns: 300px;
            grid-template-rows: repeat(2, auto);
            
        }
        &__photo{
            display: none;
        }
        &__descr {
            padding-top: 6px;
            .divider {
                margin: 0;
            }
            .title_size_16{
                padding-left: 24px;
                @include circle (13px, -5px)
            }
            .title_size_36{
                padding-bottom: 35px;
            }
        }
        &__title {
            position: relative;
            padding: 1px 0 0 12px;
            @include before_circle;
        }
        &__form {
            margin-top: 30px;
            display: grid;
            grid-template: 45px 45px 190px auto / repeat(1, 300px);
            justify-content: center;
            row-gap: 27px;
            .one{
                grid-column: 1 / 2; 
            }
            .two{
                grid-column: 1 / 2;
            }
        }
        &__triggers{
            grid-column: 1 / 2;
            display: grid;
            grid-template-columns: repeat(1,219px);
            grid-template-rows: repeat(2, 45px);
            justify-content: center;
            row-gap: 20px;
            input {
                margin-right: 8px;
            }
            .contatcs__policy{
                grid-row: 1 / 2;
                width: 180px;
                margin: 0 auto;
                }
        }
    }
}

@media (max-width: 576px) {
    
    .container{
        max-width: 96%;
        // overflow: hidden;
        padding: 0 10px;
        box-sizing: border-box;
    }
    .head{
        height: 70vh;
        padding-left: 10px;
        .buttons-link{
            margin-top: 32px;
        }
    }
    .hamburger{right: 20px;}
    .menu__block {
        width: 245px;
        .menu__link {
        padding-left: 55px;
        &::before{
            left: 20px;
        }
        }
    }
    .menu__social {
        left: 80px;
    }
    

    .title-mobile {
        width: 300px;
        margin-bottom: 15px;
    }
    .title_size_48{
        font-size: 26px;
        line-height: 39px;
    }
  
    .icons{
        padding-left: 0px;
        
        &__web{
            grid-area: iconweb;
            @include circle (-15px,0);
            margin-left: 12px;
        }
        &__ux{
            grid-area: uxnweb;
            @include circle (-15px,0);
            margin-left: 12px;
        }
        &__apps{
            grid-area: appsweb;
            @include circle(-18px,0);
            margin-left: 12px;
        }
        &__diplom{
            grid-area: diplom;
            @include circle(-15px,0);
            margin-left: 12px;
        }
    }
    .title_size_36{
        font-size: 24px;
        line-height: 36px;
        @include under_line(45px, 1px);
    }
    .mobile{
        &__m{
            margin-top: 40px;
        }
    }
    .content-about{
        margin-top: 60px;
        column-gap: 20px;
        grid-template-columns: repeat(1,minmax(300px/300px, auto));
        grid-template-rows: repeat(3,minmax(340px,auto));
        grid-template-areas:
        "imag"
        "textblock"
        "points"
        "points"
        "points";
        &_img{
            grid-area: imag;
            width: 260px;
            height: 100%;
            background: url('../img/my_photo.jpg') no-repeat 25% / cover;
        }
    }
    .content-about_text{
        width: 250px;
    }
    .about-text__points{
        margin-top: 20px;
        row-gap: 0px;
        width: 250px;
        grid-template-columns: repeat(2,minmax(auto, auto));
        grid-template-rows: repeat(3,minmax(116px,auto));

        column-gap: 15px;
        row-gap: 20px;
        grid-template-areas: 
        "iconweb web"
        "appsweb apps"
        "uxnweb ux";
    }
    .skills{
        margin: 40px auto -180px auto;
    }
    .myworks{
        height: auto;
        grid-template-columns: repeat(1, minmax(280px,280px));
        grid-template-rows: repeat(6, minmax(280px,280px));
        row-gap: 20px;
        grid-template-areas: 
        "uber"
        "pulse"
        "bread" 
        "plans"
        "ipad" 
        "mac";
        .mac {transform: none; }
        .pulse {transform: none; }
        img {
            object-fit: cover;
            height: 280px;
            width: 280px;
        }
    }

    
}

